{% extends "base.html.twig" %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Składniki</th>
                <th>C.mała</th>
                <th>C.średnia</th>
                <th>C.duża</th>
                <th>Ostrość</th>
                <th>Operacja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}